<h2>Total number of products in the database: </h2>
<span><%= @count_products %></span>
<h3><%= link_to 'Products Page', [:admin, :products]%></h3>

<h2>Total number of category in the database: </h2>
<span><%= @count_categories %></span>